/* .spaceBackground {
  background-image: url(./images/spaceBackground.webp);
  background-size: cover;
  background-position: center;
}
.componantBackground {
  background-image: url(./images/milkyway.jpg);
  background-size: cover;
  background-position: center;
}
html {
  background-image: url(./images/spaceBackground.webp);
  background-size: cover;
} */
